#*******************************************
#************Boards Pinsout***************#
#*******************************************
[board_pins]
#*************LDC 2004 reprap**************
aliases:
     EXP1_01_PIN            =             PE8
     EXP1_02_PIN            =             PE7
     EXP1_03_PIN            =             PE9
     EXP1_04_PIN            =             PE10
     EXP1_05_PIN            =             PE12
     EXP1_06_PIN            =             PE13
     EXP1_07_PIN            =             PE14
     EXP1_08_PIN            =             PE15

     EXP2_01_PIN            =             PA6
     EXP2_02_PIN            =             PA5
     EXP2_03_PIN            =             PB1
     EXP2_04_PIN            =             PA4
     EXP2_05_PIN            =             PB2
     EXP2_06_PIN            =             PA7
     EXP2_07_PIN            =             PC15
     define EXP2_08_PIN     =             <RST>

#*************display***************
[display]
lcd_type: hd44780
rs_pin: EXP1_4
e_pin: EXP1_3
d4_pin: EXP1_5
d5_pin: EXP1_6
d6_pin: EXP1_7
d7_pin: EXP1_8
encoder_steps_per_detent: 4
encoder_pins: ^!EXP2_3, ^!EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1